
name: Publish to Maven Central

on:
  push:
    tags:
      - 'v*'    # ex.: v3.1.4

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'  # use 11/8 se precisar

      - name: Configure Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build jars (main/sources/javadoc)
        run: ./gradlew clean javadocJar sourcesJar build

      - name: Publish to Maven Central via JReleaser
        env:
          CENTRAL_PORTAL_USERNAME: ${{ secrets.CENTRAL_PORTAL_USERNAME }}
          CENTRAL_PORTAL_PASSWORD: ${{ secrets.CENTRAL_PORTAL_PASSWORD }}
          GPG_PRIVATE_KEY: ${{ secrets.GPG_PRIVATE_KEY }}
          GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
        run: ./gradlew jreleaserFullRelease
